.group-4-kLX {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1rem;
  margin: 20px 0;

  .line-5-reT {
    background-color: #000000;
    flex-shrink: 0;
    height: 0.1rem;
    flex-grow: 1;
  }
  .frame-2-9tT {
    background-color: #000000;
    border-radius: 3rem;
    color: #ffffff;
    font-family: Poppins, "Source Sans Pro";
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    padding: 0.8rem 2rem;
  }
  .request-a-demo-bkT {
    color: #000000;
    font-family: Poppins, "Source Sans Pro";
    font-weight: 400;
    letter-spacing: 0.125rem;
    white-space: nowrap;
  }
  .group-2-v23 {
    object-fit: contain;
    width: 3rem;
    margin-left: 1.5rem;
  }
  .line-6-rRV {
    background-color: #000000;
    flex-shrink: 0;
    height: 0.1rem;
    margin-top: 0.2rem;
    flex-grow: 1;
  }
}

.feature {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 80px 0;

  .feature-card:nth-child(2) {
    transform: rotate(10deg);
    top: 30px;
    left: 150px;
    z-index: 1;
  }

  .feature-card:nth-child(3) {
    transform: rotate(-20deg);
    bottom: 150px;
    left: 60px;
  }

  .feature-card:nth-child(4) {
    bottom: 0px;
    right: 52%;
  }

  .feature-card:nth-child(5) {
    top: 0px;
    right: 50px;
  }

  .identity-verification {
    background-color: rgb(0, 0, 0, 0.75);
    color: white;
    padding: 20px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    right: 100px;
    bottom: 50px;
    gap: 20px;
  }
}

.stat-section {
  background-color: #0d0d0d;
  padding: 50px 100px;
  margin: 50px 0;

  .stat-cards {
    color: white;

    .stat-card {
      border: #44494c 1px solid;
      box-shadow: 5px 5px 10px rgba(103, 103, 103, 0.2);
      border-radius: 15px;
      background-color: #44494c;

      p:nth-child(2) {
        color: #e46000;
      }

      h2 {
        margin: 25px 0;
      }
    }
  }
}

.video-section {
  margin: 100px 0;

  .video-text {
    h3 {
      margin: 20px 0;
    }
    ul {
      font-size: larger;
      font-weight: 400;
    }
  }
}

.kyc-solutions {
  margin-bottom: 50px;
  section {
    margin-top: 80px;
  }

  img {
    height: 300px;
  }

  h3 {
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    font-weight: 600;
  }

  p {
    margin: 20px 0;
  }

  .margin-left {
    margin-left: 10%;
  }

  .margin-right {
    margin-right: 10%;
  }

  .facial_biometric {
    img {
      height: 350px;
    }
  }
}

.more_info {
  background-color: #0d0d0d;
  padding: 50px 100px;
  margin: 50px 0;

  .more_info_cards {
    color: white;

    .more_info_card {
      border: #44494c 1px solid;
      box-shadow: 5px 5px 10px rgba(103, 103, 103, 0.2);
      border-radius: 15px;
      background-color: #2f3234;
      padding: 20px;

      h6 {
        color: #e46000;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.newsletter {
  text-align: center;
  margin: 40px 0;

  h2 {
    margin: 10px 0;
    font-weight: 600;
    text-transform: capitalize;
  }

  .subscribe_newsletter {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 30px;

    input {
      background-color: rgb(0, 0, 0, 0.87);
      border: none;
      border-radius: 15px;
      flex-basis: 40vw;
      padding: 0 20px;
      font-size: 0.8rem;
    }

    ::placeholder {
      color: #ffffff;
      letter-spacing: 1px;
    }

    button {
      position: relative;
      left: -30px;
    }
  }
}

@media (max-width: 600px) {
  .feature {
    display: none;
  }
  .group-4-kLX {
    flex-direction: column;
  }
  .stat-section {
    padding: 50px;
    .stat-cards {
      margin: 0 30px;
    }
  }
  .kyc-solutions {
    text-align: center;

    section {
      margin-top: 0;
    }

    section:nth-child(2n) {
      display: flex;
      flex-direction: column-reverse;
    }

    p {
      margin: 0 0 ;
    }

    :not(img) {
      padding: 10px;
    }

    img {
      height: 150px;
    }

    .margin-left {
      margin-left: 0;
    }

    .margin-right {
      margin-right: 0;
    }

    .facial_biometric {
      img {
        height: 150px;
        margin: 10px 0;
      }
    }
  }
}
